@charset "UTF-8";
:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --color-button-hover: #188ce8;
  --color-text-on-dark: #ffffff;
  --logo-color: #000000;
  --section-bg: #f5f4fa;
  --hero-footer-bg: #2f303a;
  --address-color: rgba(255, 255, 255, 0.6);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: inherit;
}

body {
  font-family: var(--primary-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  color: var(--main-color);
  background-color: var(--color-text-on-dark);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo {
  text-decoration: inherit;
  color: var(--logo-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 93px;
  }
}

.logo__secondary {
  color: var(--accent-color);
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-color);
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.17;
  }
}

.input-subscribe-btn, .modal-form__submit, .hero__button {
  width: 200px;
  height: 50px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-text-on-dark);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-subscribe-btn:hover, .modal-form__submit:hover, .hero__button:hover, .input-subscribe-btn:focus, .modal-form__submit:focus, .hero__button:focus {
  background-color: var(--color-button-hover);
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.flex-container {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 767.99px) {
  .page-header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .menu {
    display: none;
  }
  .contacts {
    display: none;
  }
  .flex-container {
    justify-content: space-between;
  }
  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
}
/* ======== TABLET ============ */
@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
  .menu {
    display: flex;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  .menu__item {
    position: relative;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .contacts {
    margin-left: auto;
  }
  /* site nav styles */
  .menu__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: inherit;
    color: var(--secondary-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }
  .menu__link_active-list {
    color: var(--accent-color);
  }
  .menu__link_active-list::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    bottom: 0px;
    background: #2196f3;
    border-radius: 2px;
  }
  /* header contacts styles */
  .contacts__icon {
    margin-right: 5px;
  }
  .contacts__link {
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: inherit;
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__link:hover, .contacts__link:focus {
    color: var(--accent-color);
  }
}
/* ======= DESCTOP ======== */
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
  .contacts__item:first-child {
    margin-right: 50px;
  }
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
  .contacts__icon_email {
    width: 16px;
    height: 12px;
  }
  .contacts__icon_phone {
    width: 10px;
    height: 16px;
  }
}
@media only screen and (max-width: 767.99px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-text-on-dark);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    height: 100%;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
    fill: var(--accent-color);
  }
  .mobile-menu-list__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu-list__link {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.02em;
  }
  .mobile-menu-list__link:hover, .mobile-menu-list__link:focus {
    color: var(--accent-color);
  }
  .mobile-contacts {
    margin-bottom: 64px;
  }
  .mobile-contacts__item:not(:last-child) {
    padding-bottom: 32px;
  }
  .mobile-contacts__link-phone {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .mobile-contacts__link-phone {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .mobile-contacts__link-email {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: inherit;
  }
  .mobile-social-networks {
    display: flex;
    flex-wrap: wrap;
  }
  .mobile-social-networks__item:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mobile-social-networks__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.hero {
  height: 400px;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/mobile-hero-background.jpg");
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 700px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-text-on-dark);
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .hero__title {
    max-width: 360px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/tablet-hero-background.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/desctop-hero-background.jpg");
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}
@media (min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/mobile-hero-background@2x.jpg");
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/tablet-hero-background@2x.jpg");
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/desctop-hero-background@2x.jpg");
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 450px;
  max-height: 609px;
  padding: 40px;
  background-color: var(--color-text-on-dark);
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--color-text-on-dark);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: var(--logo-color);
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover, .close-btn:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.backdrop_is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop_is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5);
}

.modal-form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.modal-form__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
  color: var(--secondary-color);
}

.modal-form__field {
  margin-bottom: 10px;
}

.modal-form__input-wrapper {
  display: block;
  position: relative;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-size: 16px;
  color: var(--secondary-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__input-desc {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form__message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__message:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form__message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__check-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  line-height: 1.1;
  font-size: 12px;
}
.modal-form__check-desc::before {
  content: "";
  display: block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-color);
  border-radius: 2px;
  cursor: pointer;
}
.modal-form__check:checked + .modal-form__check-desc::before {
  border: none;
  background-color: var(--accent-color);
  background-image: url("../images/svg/check.svg");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 60% 50%;
}
.modal-form__check:focus + .modal-form__check-desc::before {
  outline: 1px solid var(--secondary-color);
}

@media screen and (min-width: 1200px) {
  .modal-form__text {
    line-height: 1.15;
  }
  .modal-form__check-desc {
    font-size: 14px;
  }
}
.modal-form__agreement-link {
  color: var(--accent-color);
}

.modal-form__submit {
  align-self: center;
}

@media only screen and (max-width: 767.99px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .features__title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .features__item {
    flex-basis: calc(50% - 15px);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc(25% - 22.5px);
  }
}
.features__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: var(--section-bg);
  border-radius: 4px;
  height: 120px;
}

.features__title {
  margin-bottom: 10px;
  font-family: var(--primary-font);
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.features__text {
  line-height: 1.71;
}

/* ========== section WORK чем мы занимаемсяа =========== */
.section_work-correct-display {
  padding-top: 0;
}
@media only screen and (max-width: 1199.9px) {
  .section_work-correct-display {
    display: none;
  }
}

.work-list {
  display: flex;
}

.work-list__item {
  position: relative;
}
.work-list__item:not(:last-child) {
  margin-right: 30px;
}

.work-list__title {
  position: absolute;
  bottom: 0;
  padding: 27px 0;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-text-on-dark);
  background: rgba(47, 48, 58, 0.8);
}

.section_team-bgc-dark {
  background-color: var(--section-bg);
}

@media screen and (max-width: 767px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .team-list__item {
    flex-basis: calc(50% - 15px);
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    flex-basis: calc(25% - 22.5px);
  }
}
.team-list__item {
  background-color: var(--color-text-on-dark);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__box {
  padding: 30px 32px;
}

.team-list__member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-color);
}

.team-list__job {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social-networks-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.social-networks_list__item {
  width: 44px;
  height: 44px;
}
.social-networks_list__item:not(:last-child) {
  margin-right: 10px;
}

.social-networks_list__link {
  display: block;
  padding: 12px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-networks_list__link:hover, .social-networks_list__link:focus {
  color: var(--color-text-on-dark);
  background-color: var(--accent-color);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-list__item {
  flex-basis: calc(50% - 15px);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    flex-basis: calc(33.3333333333% - 20px);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    flex-basis: calc(16.6666666667% - 25px);
  }
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.footer {
  background: var(--hero-footer-bg);
  padding: 60px 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}
.footer__logo {
  display: block;
  margin-bottom: 30px;
  margin-right: 0;
  color: var(--color-text-on-dark);
}

@media screen and (max-width: 1199px) {
  .footer__logo {
    text-align: center;
  }
  .footer-box {
    margin-bottom: 60px;
  }
  .address-list__item {
    text-align: center;
  }
  .join-us {
    margin-bottom: 60px;
  }
  .subscribe {
    width: 100%;
  }
  .input-label__subscribe {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    width: 100%;
  }
  .footer__text {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
  .footer-box {
    margin-right: 70px;
    width: 231px;
  }
  .join-us {
    margin-right: 93px;
  }
  .footer-form {
    display: flex;
  }
  .input-label__subscribe {
    margin-right: 8px;
    width: 358px;
  }
}
.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list__text {
  font-style: normal;
  color: var(--color-text-on-dark);
}

.footer-contacts {
  display: block;
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
  color: var(--address-color);
}

.footer__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-text-on-dark);
}

.footer__social-networks {
  background: rgba(255, 255, 255, 0.1);
}

.social-networks__icon_light {
  color: var(--color-text-on-dark);
}

.input-label__subscribe {
  display: block;
  padding-left: 16px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--color-text-on-dark);
  background-color: transparent;
}

.input-subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.input-subscribe-btn__icon {
  margin-left: 10px;
}

/* ============== BUTTONS КНОПКИ ПОРТФОЛИО =============== */
.portfolio-buttons-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 8px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .portfolio-buttons-list {
    justify-content: center;
  }
}

.portfolio-buttons-list__button {
  padding: 6px 22px;
  background: var(--section-bg);
  color: var(--secondary-color);
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-buttons-list__button:hover, .portfolio-buttons-list__button:focus {
  background: var(--accent-color);
  color: var(--color-text-on-dark);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .portfolio-gallery__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.portfolio-gallery__title {
  margin-bottom: 4px;
}

.portfolio-gallery__item {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-gallery__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .portfolio-gallery__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .portfolio-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-gallery__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.portfolio-gallery__box {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-gallery__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}

.portfolio-gallery__text {
  font-size: 16px;
  line-height: 1.88;
}

/* ====== OVERLAY ======== */
.portfolio-gallery__thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-gallery__item:hover .overlay {
  transform: translateX(0);
}

.overlay__text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--color-text-on-dark);
}

/* ====== /OVERLAY ======== *//*# sourceMappingURL=main.css.map */