:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  --main-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --color-button-hover: #188ce8;
  --color-text-on-dark: #ffffff;
  --logo-color: #000000;
  --section-bg: #f5f4fa;
  --hero-footer-bg: #2f303a;
  --address-color: rgba(255, 255, 255, 0.6);
}
